<app-nav-bar></app-nav-bar>
<div class="container-fluid">
    <div class="form-margin">
      <div class="col-md-8 col-12">
        <form #f="ngForm">
          <div class="container-fluid my-4">
            <div class="form-row">
              <div class="form-group col-md-6 col-12">
                <label for="Company Name"> Company Name</label>
                <input [(ngModel)]="workInfo.companyName" type="text" name="companyName" ngModel class="form-control" minlength="3" required id="Company Name" placeholder="Company Name">
              </div>
              <div class="form-group col-md-6 col-12">
                <label for="City">City</label>
                <input [(ngModel)]="workInfo.city" type="text" name="city" ngModel class="form-control" minlength="3" required id="City" placeholder="City">
              </div>
              <div class="form-group col-md-6 col-12">
                <label for="Country">Country</label>
                <input [(ngModel)]="workInfo.country" type="text" name="country" ngModel class="form-control" minlength="3" required id="Country" placeholder="Country">
              </div>
              <div class="form-group col-md-6 col-12">
                <label for="fromDate">From Date</label>
                <input [(ngModel)]="workInfo.fromDate" name="fromDate" required ngModel type="date" (ngModelChange) = "generateExperience(f)" class="form-control" id="From Date" placeholder="From Date">
              </div>
              <div class="form-group col-md-6 col-12">
                <label for="toDate">To Date</label>
                <input [(ngModel)]="workInfo.toDate" name="toDate" required ngModel type="date" (ngModelChange) = "generateExperience(f)" class="form-control" id="To Date" placeholder="To Date">
              </div>
              <div class="form-group col-md-6 col-12">
                <label for="Country">Role</label>
                <input [(ngModel)]="workInfo.role" type="text" name="role" ngModel class="form-control" minlength="3" required id="Role" placeholder="Role">
              </div>
              <div class="form-group col-md-6 col-12">
                <label for="Country">Experience</label>
                <input type="number" name="experience" [(ngModel)]="workInfo.experience" class="form-control" disabled required id="experience" placeholder="experience">
              </div>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary" [disabled]="f.invalid" (click)="submitFormData(f)"> Submit <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
                <span style="margin-left: 5px;"></span>
                <button class="btn btn-primary"  (click)="goToPrevious(f)"> Previous <span style="margin-left:12px;" class="glyphicon glyphicon-arrow-left"></span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

