<div class="board-inner" id="status-buttons">
    <ul class="nav nav-tabs" id="myTab">
        <div class="liner"></div>
                    
        <!-- circular user icon -->
        <li>
            <a routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="User Info">
                <span class="round-tabs one">
                    <i class="glyphicon glyphicon-user"></i>
                </span>
            </a>
        </li>

        <!-- circular Contact icon -->
         <li>
            <a routerLink="/info" routerLinkActive="active" data-toggle="tab" title="Contact Info">
                <span class="round-tabs two">
                    <i class="glyphicon glyphicon-phone"></i>
                </span> 
            </a>
        </li>
        <li>
            <a routerLink="/skill" routerLinkActive="active" data-toggle="tab" title="Skill Info">
                <span class="round-tabs four">
                    <i class="glyphicon glyphicon-check"></i>
                </span>
            </a>
        </li>
        <li>
            <a routerLink="/work" routerLinkActive="active" data-toggle="tab" title="Work Info">
                <span class="round-tabs four">
                    <i class="glyphicon glyphicon-tasks"></i>
                </span>
            </a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>

<!-- Close the Splash screen -->
<!-- <script src="content/js/loading-bars.js"></script> -->