<app-nav-bar></app-nav-bar>
<div class="container-fluid">
    <div class="form-margin">
      <div class="col-md-8 col-12">
        <form #f="ngForm">
          <div class="container-fluid my-4">
            <div class="form-row">
              <div class="form-group col-md-4 col-12">
                <label for="First Name">First Name</label>
                <input type="text" name="firstName" ngModel (ngModelChange) = "generateFullName(f)" (keypress)="alphabetsOnly($event)"  class="form-control" minlength="3" maxlength="15" required id="First Name" placeholder="First Name">
              </div>
              <div class="form-group col-md-4 col-12">
                <label for="Last Name">Last Name</label>
                <input type="text" name="lastName" ngModel (ngModelChange) = "generateFullName(f)" (keypress)="alphabetsOnly($event)" class="form-control" minlength="3" maxlength="15" required id="Last Name" placeholder="Last Name">
              </div>
              <div class="form-group col-md-4 col-12">
                <label for="Full Name">Full Name</label>
                <input type="text" name="fullName" [(ngModel)]="fullName" class="form-control" disabled required id="Full Name" placeholder="Full Name">
              </div>
              <div class="form-group col-md-4 col-12">
                <label for="dateOfBirth">Date Of Birth</label>
                <input name="dateOfBirth" ngModel (ngModelChange) = "generateAge(f)" min= "1940-01-01" type="date" class="form-control" id="dateOfBirth" placeholder="Date Of Birth">
              </div>
              <div class="form-group col-md-4 col-12">
                <label for="Age">Age</label>
                <input type="number" name="Age" [(ngModel)] ="age" class="form-control" minlength="6" required id="age" placeholder="Age">
              </div>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-success btn-outline-rounded btn-info" [disabled] = "f.invalid" (click)="goToNext(f)"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
